
<div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= 'https://source.unsplash.com/1080x720/?#{trip.country},landmark' %>);">
    <div class="container">
      <h1>Hey <%= @current_user.name %></h1>
      <br>
      <h2> Let's Skrumble your trip to <%= Country.find(@trip.country_id).name %> !</h2>
    </div>
  </div>
</div>

<!-- HTML de base pour le bloc des trip-item-cards et todo-cards -->

<div>
  <div class="container">
    <div class="text-align-left">
      <br>
      <h2>Go Skrumble Go</h2>
    </div>

    <div class="trip-show-flexbox">
      <div class="icon">
        <div class="drop-zone">
          <i class="fas fa-suitcase"></i>
          <div class="progression-bar">
            <p>Progression Status</p>
        </div>
        </div>
      </div>

      <div class="trip-list">
        <div>
          <h2><i class="fas fa-scroll"></i> The essentials</h2>
            <% @trip.trip_items.each do |trip_item| %>
              <div class="item">
                <p><%= trip_item.item.name %></p>
                <p><%= trip_item.quantity %></p>
                <p><%= trip_item.done? ? "✅" : "‼️" %></p>
              </div>
            <% end %>
        </div>
        <br>
        <div>
          <h2><i class="fas fa-passport"></i> The important</h2>
          <% @trip.todos.each do |todo| %>
            <div class="item">
              <p><%= todo.task.name %></p>
              <p><%= todo.task.description %></p>
              <p><%= todo.task.process_time %></p>
              <p><%= todo.done? ? "✅" : "‼️" %></p>
            </div>
          <% end %>
        </div>
        <br>
        <br>
        <hr>
        <div>
          <h2><i class="fas fa-running"></i> Good to go</h2>
          <% @trip.todos.each do |todo| %>
            <div class="item" id="done-list">
              <p><%= todo.task.name %></p>
              <p><%= todo.task.description %></p>
              <p><%= todo.task.process_time %></p>
              <p><%= todo.done? ? "✅" : "‼️" %></p>
              <p><i class="fas fa-redo-alt"></i></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
