<div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'dubrovnik.jpg' %>);">
    <div class="container">
      <h1>Hey <%= @current_user.first_name %></h1>
      <br>
      <h2> Let's Skrumble your trip to <%= Country.find(@trip.country_id).name %> !</h2>
    </div>
<% if @trip.country.photo.url.nil? %>
  <div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'dubrovnik.jpg' %>);">
<% else %>
  <div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url('<%= cl_image_path @trip.country.photo, crop: :fill %>')">
<% end %>
  <div class="container">
    <h1>Hey <%= @current_user.name %></h1>
    <br>
    <h2> Let's Skrumble your trip to <%= Country.find(@trip.country_id).name %> !</h2>

  </div>
</div>

<!-- HTML de base pour le bloc des trip-item-cards et todo-cards -->

<div>
  <div class="container">
    <div class="text-align-left">
      <br>
      <h2>Go Skrumble Go</h2>
    </div>

    <div class="trip-show-flexbox">
      <div class="icon">
        <div class="drop-zone">
          <i class="fas fa-suitcase"></i>
          <div class="progression-bar">
            <p>Progression Status</p>
        </div>
        </div>
      </div>

      <div class="trip-list">
        <div>
          <h2><i class="fas fa-scroll"></i> The essentials</h2>
            <div id="sortUndone" class="trip-list-group">
              <% @trip.trip_items.each do |trip_item| %>
                <% if trip_item.done == false %>
                  <div class="item jsitem" data-id-trip="<%= trip_item.id %>">
                    <p><%= trip_item.item.name %></p>
                    <p><%= trip_item.quantity %></p>
                    <p class="status"><%= trip_item.done? ? "✅" : "‼️" %></p>
                    <%= link_to "done", mark_as_complete_tripitem_path(trip_item), method: :patch, class: 'link' %>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
        <br>
        <div>
          <h2><i class="fas fa-passport"></i> The important</h2>
          <div id="sortUndone" class="todo-list-group">
            <% @trip.todos.each do |todo| %>
              <% if todo.done == false %>
                <div class="item jstodo" data-id-todo="<%= todo.id %>">
                  <p><%= todo.task.name %></p>
                  <p><%= todo.task.description %></p>
                  <p><%= todo.task.process_time %></p>
                  <p class="status"><%= todo.done? ? "✅" : "‼️" %></p>
                  <%= link_to "done", mark_as_complete_todo_path(todo), method: :patch, class: 'link' %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>
        <hr>
        <div>
          <h2><i class="fas fa-running"></i> Good to go</h2>
          <div id="sortDone" class="done-list-group">
              <% @trip.todos.each do |todo| %>
                <% if todo.done? %>
                  <div class="item">
                    <p><%= todo.task.name %></p>
                    <p><%= todo.task.description %></p>
                    <p><%= todo.task.process_time %></p>
                    <p>✅</p>
                  </div>
                <% end %>
              <% end %>
              <% @trip.trip_items.each do |trip_item| %>
                <% if trip_item.done? %>
                  <div class="item">
                    <p><%= trip_item.item.name %></p>
                    <p><%= trip_item.quantity %></p>
                    <p><%= trip_item.done? ? "✅" : "‼️" %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
