<%= render 'shared/navbar' %>
<% if @trip.country.photo.url.nil? %>
  <div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(<%= "https://source.unsplash.com/1420x800/?#{@trip.country.name},landmark" %>);">
<% else %>
  <div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(<%= cl_image_path @trip.country.photo, crop: :fill %>);">
<% end %>
    <div class="container">
      <h1>Let's <span class="skrumble-banner">Skrumble</span> your trip to <%= Country.find(@trip.country_id).name %> !</h1>
    </div>
  </div>

<!-- HTML de base pour le bloc des trip-item-cards et todo-cards -->

<div>
  <div class="container">
    <div class="trip-show-flexbox">
      <div class="trip-list">
        <div>
          <h2>The essentials</h2>
            <div id="sortUndone" class="trip-list-group">
              <% @trip.trip_items.each do |trip_item| %>
                <% if trip_item.done == false %>
                  <div class="item jsitem bg-<%= trip_item.item.category %>" data-id-trip="<%= trip_item.id %>">
                    <div class="item-icon">
                      <%= image_tag("#{trip_item.item.icon}", width: 80) %>
                    </div>
                    <p><%= trip_item.item.name %> <span class="quantity">x<%= trip_item.quantity %></span></p>
                   <!--  <% if trip_item.done == false %>
                      <p class="status"><i class="far fa-thumbs-down"></i></p>
                    <% end %> -->
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
        <br>
        <div>
          <h2>The important</h2>
          <div id="sortUndone" class="todo-list-group">
            <% @trip.todos.each do |todo| %>
              <% if todo.done == false %>
                <div class="item jstodo bg-<%= todo.task.category %>" data-id-todo="<%= todo.id %>">
                  <div class="item-icon">
                      <%= image_tag("#{todo.task.icon}", width: 80) %>
                  </div>
                  <p><%= todo.task.name %></p>
<!--                   <p><%= todo.task.description %></p>
                  <p><%= todo.task.process_time %></p> -->
              <!--     <% if todo.done == false %>
                    <p class="status"><i class="far fa-thumbs-down"></i></p>
                  <% end %> -->
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="icon">
        <div class="drop-zone" style="background-image: url(<%= image_path('briefcase2.svg') %>); background-size: fill; background-repeat: no-repeat;" >
<!--           <div class="suitcase">
            <i class="fas fa-suitcase"></i>
          </div> -->
          <div class="progression-bar">
            <div>
              <!-- <h2><i class="far fa-check-circle"></i> Your suitcase</h2> -->
              <div id="sortDone" class="done-list-group <%= "flexbox-dropzone" if @trip.todos.where(done: true).empty? && @trip.trip_items.where(done: true).empty?  %> <%= "border-drop-zone" if @trip.todos.where(done: true).empty? && @trip.trip_items.where(done: true).empty?  %>">
                <% if @trip.todos.where(done: true).empty? && @trip.trip_items.where(done: true).empty? %>
                  <div id="drag-item-text" style="vertical-align: middle">
                    <p>Drag items here</p>
                  </div>
                <% end %>
                  <% @trip.todos.each do |todo| %>
                    <% if todo.done? %>
                      <div class="item jsdone">
                        <div class="item-icon">
                            <%= image_tag("#{todo.task.icon}", width: 80) %>
                        </div>
                        <p><%= todo.task.name %></p>
                        <!-- <p><%= todo.task.description %></p> -->
                        <!-- <p><%= todo.task.process_time %></p> -->
                       <!--  <p><i class="far fa-thumbs-up"></i></p> -->
                      </div>
                    <% end %>
                  <% end %>
                  <% @trip.trip_items.each do |trip_item| %>
                    <% if trip_item.done? %>
                      <div class="item jsdone">
                        <div class="item-icon">
                          <%= image_tag("#{trip_item.item.icon}", width: 80) %>
                        </div>
                        <p><%= trip_item.item.name %></p>
                        <!-- <p><%= trip_item.quantity %></p> -->
                        <!-- <p><i class="far fa-thumbs-up"></i></p> -->
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="go-skrumble-bar">
      <div class="text-align-left">
        <h2></h2>
      </div>
      <button type="button" class="btn btn-outline-warning share-trip-modal" data-toggle="modal" data-target="#share-trip-modal">
          Share my trip !
      </button>
    </div>
    <h2>Unique experiences <span class="blue">Skrumble</span> found in <span class="blue"><%= Country.find(@trip.country_id).name %></span></h2>
    <div class="events mb-5">
      <% @trip.trip_events.each do |trip_event| %>
      <div class="card-event">
        <%= cl_image_tag trip_event.event.photo %>
        <div class="event-desc justify-content-between align-items-center">
          <h3><%= trip_event.event.name %></h3>
          <p><em><%= trip_event.event.category %></em></p>
          <p><strong><%= trip_event.event.start_date %></strong></p>
          <p><%= trip_event.event.description %></p>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>

<div id="share-trip-modal-container">
  <%= render "shared/share-trip-modal", trip: @new_trip %>
</div>
