<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div id="logo">
    <%= link_to image_tag('toucan-zoom.png', width: 60), root_path, class: "nav-link-logow" %>
    <%= link_to "SKRUMBLE", root_path, class: "nav-link skrtitle"  %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>


  <div class="dropdown">
    <i class="dropbtn fas fa-bell bell"></i>
    <% count = 0 %>
    <% current_user.trips.each do |l|%>
      <% count += 1 if l.accepted == nil %>
    <% end %>
    <% unless count == 0 %>
    <div class="notif-count d-flex justify-content-center align-items-center"><p><%= count %></p></div>
    <% end %>

    <div class="dropdown-content">
      <% current_user.trips.each do |l|%>
      <% if l.accepted == nil %>
      <div class="content-notif d-flex align-items-center">
         <%= cl_image_tag User.find(l.creator).photo, class: "avatar" %>
         <p><span class="notif-bold"><%= User.find(l.creator).first_name %></span> invited you to <span class="notif-bold"><%= l.country.name %></span></p>
         <%= link_to "", trip_path(l), class: "stretched-link" %>
       </div>
      <% end %>
     <% end %>
    </div>
  </div>


      <li class="nav-item active">
        <%= link_to "DASHBOARD", dashboard_path, class: "nav-link skrtitle skrt" %>
      </li>



      <li class="nav-item dropdown">
        <% if current_user.facebook_picture_url != nil %>
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% elsif current_user.photo.url != nil %>
          <%= cl_image_tag current_user.photo,  crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/elebail", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>

        <div class="dropdown-menu dropdown-menu-right dropdown-menu-white" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
