<%= render 'shared/navbar' %>
<div class="bg-light">
  <div class="container">
    <div class="d-flex info-container">
      <div class="event-photo">
        <img src=" <%= @event.photo %>" alt="alt">
      </div>
      <div class="infos">
        <div class="basic-infos">
          <h6><%= @event.category.upcase %></h6>
          <h2><%= @event.name.capitalize %></h2>
          <p><%= @event.start_date %> - <%= @event.end_date %> </p>
        </div>
        <div class="description">
          <p><%= @event.description %></p>
        </div>
        <div class="destination">
          <p><%= Trip.find(@event.trip_id).country.name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
