<!-- HTML de base pour les trip-cards du trip dashboard -->

<div class="dashboard-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/1420x800/?seychelles,landmark" %>);">
  <div class="container">
    <h1>Welcome in your dashboard, <%= current_user.first_name %></h1>
  </div>
</div>
<div class="container">
  <div class="card-trip-flexbox">
    <% current_user.trips.each do |trip| %>
      <div class="card-trip">
        <div class="flip-card-inner">
          <% if trip.country.photo.url.nil? %>
            <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/1420x800/?#{trip.country.name},landmark" %>);">
          <% else %>
            <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path trip.country.photo, crop: :fill %>);">
          <% end %>
              <h2><%= Country.find(trip.country_id).name %></h2>
              <p><%= trip.start_date %> to <%= trip.end_date %></p>
              <%= link_to "", trip_path(trip), class: 'stretched-link' %>
            </div>
           <% if trip.country.photo.url.nil? %>
            <div class="flip-card-back"style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(<%= "https://source.unsplash.com/1420x800/?#{trip.country.name},landmark" %>);">
          <% else %>
            <div class="flip-card-back" style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(<%= cl_image_path trip.country.photo, crop: :fill %>);">
          <% end %>
              <h2><%= Country.find(trip.country_id).name %></h2>
              <div class="d-flex justify-content-between mx-5 mt-5">
                <p>Trip items :</p>
                <p><%= @count[trip][:items] %> / <%= trip.trip_items.count %></p>
              </div>
              <div class="d-flex justify-content-between mx-5">
                <p>Todos :</p>
                <p><%= @count[trip][:todos] %> / <%= trip.todos.count %></p>
              </div>
              <%= link_to "", trip_path(trip), class: 'stretched-link' %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
