<!-- HTML de base pour les trip-cards du trip dashboard -->

<div class="dashboard-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/1420x800/?seychelles" %>);">
  <div class="container">
    <h1>Welcome to your dashboard, <%= current_user.first_name %></h1>
  </div>
</div>
<div class="container">
  <div class="card-trip-flexbox">
    <% current_user.trips.each do |trip| %>
      <div class="card-trip">
        <div class="flip-card-inner">
          <% if trip.country.photo.url.nil? %>
            <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/1420x800/?#{trip.country.name},landmark" %>);">
          <% else %>
            <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path trip.country.photo, crop: :fill %>);">
          <% end %>
              <h2><%= Country.find(trip.country_id).name %></h2>
              <p><%= trip.start_date %> to <%= trip.end_date %></p>
              <%= link_to "", trip_path(trip), class: 'stretched-link' %>
            </div>
           <% if trip.country.photo.url.nil? %>
            <div class="flip-card-back"style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(<%= "https://source.unsplash.com/1420x800/?#{trip.country.name},landmark" %>);">
          <% else %>
            <div class="flip-card-back" style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(<%= cl_image_path trip.country.photo, crop: :fill %>);">
          <% end %>
              <h2><%= Country.find(trip.country_id).name %></h2>
              <% if (trip.trip_items.count - @count[trip][:items] == 0) && (trip.todos.count - @count[trip][:todos] == 0 ) %>
              <div class="d-flex justify-content-center align-items-center">
                <p class="green mt-3"><strong class="big">READY!</strong></p>
              </div>
              <% else %>
              <div class="d-flex justify-content-between mx-4 mt-5">
                <p>Suitcase :</p>
                <% if trip.trip_items.count - @count[trip][:items] > 1 %>
                <p class="red"><strong><%= trip.trip_items.count - @count[trip][:items] %> items to pack !</strong></p>
                <% elsif trip.trip_items.count - @count[trip][:items] == 1 %>
                <p class="red"><strong>1 item to pack !</strong></p>
                <% else %>
                <p class="green"><strong>READYY!</strong></p>
                <% end %>
                <!-- (<%= @count[trip][:items] %> / <%= trip.trip_items.count %>) -->
              </div>
              <div class="d-flex justify-content-between mx-4">
                <p>To-do-list :</p>
                <% if trip.todos.count - @count[trip][:todos] > 1 %>
                <p class="red"><strong><%= trip.todos.count - @count[trip][:todos] %> tasks to do !</strong></p>
                <% elsif trip.todos.count - @count[trip][:todos] == 1 %>
                <p class="red"><strong>1 task to do !</strong></p>
                <% else %>
                <p class="green"><strong>READYY!</strong></p>
                <% end %>
                <!-- <p><%= @count[trip][:todos] %> / <%= trip.todos.count %></p> -->
              </div>
              <% end %>
              <%= link_to "", trip_path(trip), class: 'stretched-link' %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
