<!-- HTML de base pour les trip-cards du trip dashboard -->
<%= render 'shared/navbar' %>
<div class="dashboard-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path "dashboard.jpg" %>');">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>Welcome to your dashboard, <%= current_user.first_name %>!</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="trips-cards">
    <div class="card-trip">
      <button type="button" id="btn-add-trip" class="stretched-link" data-toggle="modal" data-target="#new-trip-modal">+
      </button>
    </div>

    <% current_user.trips.each do |trip| %>
      <div class="card-trip">
        <% if trip.country.photo.url.nil? %>
          <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(<%= "https://source.unsplash.com/1420x800/?#{trip.country.name},landmark" %>);">
            <p><%= trip.start_date.strftime("%e %B") %> - <%= trip.end_date.strftime("%e %B %Y") %></p>
            <% if  trip.start_date < Date.today %>
              <p class="label-done">Done</p>
            <% elsif (trip.trip_items.count - @count[trip][:items] == 0) && (trip.todos.count - @count[trip][:todos] == 0) %>
              <p class="label-ready">Ready</p>
            <% else %>
              <p class="label-not-ready">Not Ready</p>
            <% end %>
          </div>
        <% else %>
          <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(<%= cl_image_path trip.country.photo %>);">
            <p><%= trip.start_date.strftime("%e %B") %> - <%= trip.end_date.strftime("%e %B %Y") %></p>
            <% if  trip.start_date < Date.today %>
              <p class="label-done">Done</p>
            <% elsif (trip.trip_items.count - @count[trip][:items] == 0) && (trip.todos.count - @count[trip][:todos] == 0) %>
              <p class="label-ready">Ready</p>
            <% else %>
              <p class="label-not-ready">Not Ready</p>
            <% end %>
          </div>
        <% end %>
        <% if  trip.start_date < Date.today || (trip.trip_items.count - @count[trip][:items] == 0) && (trip.todos.count - @count[trip][:todos] == 0)%>
        <div class="card-trip-text">
          <p><strong><%= trip.country.name %></strong></p>
          </div>
        <% else %>
        <div class="card-trip-text">
          <p><strong><%= trip.country.name %></strong></p>
          <p><i class="fas fa-suitcase"></i>
            <% if trip.trip_items.count - @count[trip][:items] > 1 %>
              <%=  trip.trip_items.count - @count[trip][:items] %> items left
            <% elsif  trip.trip_items.count - @count[trip][:items] == 1 %>
              <%=  trip.trip_items.count - @count[trip][:items] %> item left
            <% else %>
              Ready!
            <% end %>
          </p>
          <p><i class="far fa-sticky-note"></i>
            <% if trip.todos.count - @count[trip][:todos] > 1 %>
              <%=  trip.todos.count - @count[trip][:todos] %> tasks left
            <% elsif  trip.todos.count - @count[trip][:todos] == 1 %>
              <%=  trip.todos.count - @count[trip][:todos] %> task left
            <% else %>
              Ready!
            <% end %>
          </p>
        </div>
        <% end %>
        <%= link_to "", trip_path(trip), class: 'stretched-link' %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render "shared/new-trip-modal" %>
</div>




