<!-- form for trip creation -->
<div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path 'dubrovnik.jpg' %>);">
  <div class="container">
    <div class="row justify-content-center subcont align-items-center ">
      <div class="calendar lo">
        <%= simple_form_for [@trip] do |f| %>
          <div class="d-flex justify-content-between lo mb-4">
            <%= f.input :start_date, label: false, placeholder: "Departure date", as: :string, required: false, input_html: {class: "datepicker box"} %>
            <%= f.input :end_date, label: false, placeholder: "Return date", as: :string, required: false, input_html: {class: "datepicker box"} %>
          </div>
          <%= f.association :country, label: false, placeholder: "Country" %>
          <div class="contour">
          </div>
          <div class="row justify-content-center ">
        <!--   <input type="text" name= "country" placeholder="Destination" class="destinationBox"> -->
              <%= f.button :submit, "SKRUMBLE" ,class: "btn btn-danger", id:"bouton" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

