<!-- form for trip creation -->
<div class="image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path 'dubrovnik.jpg' %>);">
  <div class="container">
    <div class="row justify-content-center subcont align-items-center ">
      <div class="calendar">
        <%= simple_form_for [@trip] do |f| %>
          <div class="d-flex justify-content-between">
            <%= f.input :start_date, label: "Departure date", as: :string, required: false, input_html: {class: "datepicker box"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker box"} %>
          </div>
          <%= f.association :country, placeholder: "Destination", input_html: {class: "box"} %>
          <div class="row justify-content-center">
            <%= f.button :submit, "SKRUMBLE" ,class: "btn btn-danger", id:"bouton" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

